#main {
  background-color: lightblue;
  width: 98%;
  display: flex;
  gap: 1rem;
}

.main_left {
  width: 34%;
  display: block;
  text-align: center;
}

.main_middle {
  width: 29.4%;
  height: 558px;
  padding: 2.5rem;
  display: block;
}

.main_right {
  width: 34%;
  display: block;
  text-align: center;
}

.main_latest-data {
  background-color: white;
  height: 403px;
  width: 100%;
  padding: 25px;
  margin-bottom: 17px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

.main_subject {
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 800;
}

.main_icon {
  display: inline-block;
  width: 48px;
  height: 54px;
  margin-right: 15px;
  background-image: url(https://www.khepi.or.kr/resources/images/acs/new_main/red_comma.png);
  vertical-align: middle;
}

.main_data-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: space-between;
}

.main_data-list > li {
  flex: 1 1 45%;
  padding: 1%;
  box-sizing: border-box;
  overflow: hidden;
}

.main_data-list > li > a {
  display: block;
  position: relative;
  padding: 25px 13px 21px;
  border-radius: 18px;
  border: 1px solid #ddd;
  line-height: 1.5;
}

.main_category {
  font-size: 15px;
}

.main_data-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: 15px;
}

.main_date {
  font-size: 14px;
}

.main_alchol-edu-link {
  background-color: #7862bf;
  display: block;
  text-align: left;
  position: relative;
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 20px;
}

.main_subject > span {
  display: block;
}
